        :root {
            --primary: #2ecc71;
            --primary-dark: #27ae60;
            --primary-light: #13981a;
            --white: #fff;
            --text-dark: #1A1A1A;
            --text-light: #6B6B6B;
            --shadow: 0 8px 25px rgba(0,0,0,0.08);
        }

        body {
            margin-top: 100px;
            font-family: "Inter", Arial, sans-serif;
            
        }

        .container-cadFunc {
            max-width: 500px;
            margin: 75px auto;
            padding: 50px 40px 40px 40px;
            background: #fff;    
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);


        }

        h2 {
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--text-dark);
            margin-bottom: 20px;
        }

        h2::after {
            content: '';
            display: block;
            width: 50px;
            height: 4px;
            background: var(--primary);
            margin: 12px auto 0;
            border-radius: 2px;
        }

        label {
            display: block;
            margin-top: 16px;
            font-weight: 600;
            font-size: 14px;
            color: var(--text-dark);
        }

        input, select {
            width: 100%;
            padding: 12px;
            margin-top: 6px;
            border: 1.5px solid #ccc;
            border-radius: 10px;
            font-size: 15px;
            transition: 0.3s;
        }

        input:focus, select:focus {
            border-color: var(--primary);
            outline: none;
            box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.25);
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }

        .btn {
            display: inline-block;
            padding: 14px 24px;
            background: var(--primary);
            color: var(--white);
            border-radius: 12px;
            font-weight: bold;
            font-size: 15px;
            border: 2px solid var(--primary);
            transition: 0.3s;
            cursor: pointer;
            text-decoration: none;
            box-shadow: var(--shadow);
        }

        .btn-primary:hover {
            background: var(--white);
            color: #2ecc71;
            transform: translateY(-3px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            border: 2px solid #2ecc71;
        }