:root {
    --primary-color: #2ecc71;
    --primary-dark: #27ae60;
    --light-gray: #f9f9f9;
    --dark-gray: #333;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
}

[data-aos] {
    z-index: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100vw;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.form-box,
.info-box {
    flex: 1 1 350px;
}

.h2-form {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

#dashboard {
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

h2 {
    font-size: 2.7rem;
    font-weight: bold;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #2ecc71;
    margin: 15px auto;
}

input,
select,
textarea {
    padding: 15px;
    outline: none;
    border: 1.5px solid #ccc !important;
    font-size: 15px;
    transition: all 0.5s;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    border-radius: 16px !important;
    border: 0;
    border-color: rgb(22, 162, 22);
    box-shadow: 0 0 0 3px rgba(22, 162, 22, 0.25);
    background-color: #fff;
    outline: none;
}

button {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white !important;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    transition: var(--transition);
}

.btn-colecao:hover {
    background-color: #fff;
    color: var(--primary-color) !important;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #fff;
    color: var(--primary-color) !important;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
}

.info-card {
    background-color: #f2f4f7;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.info-card i {
    font-size: 24px;
    color: rgb(9, 139, 48);
    margin-top: 5px;
}

.info-card strong {
    font-size: 16px;
    color: #111;
}

.info-card p,
.info-card small {
    font-size: 14px;
    color: #000000;
}

.horario {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.localizacao-mapa {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    border: 3px solid rgb(9, 139, 48);
    border-radius: 15px;
}

.mapa-embed {
    border-radius: 15px;
}

label {
    color: black;
}

.horario strong {
    display: block;
    margin-bottom: 10px;
    color: #000000;
}

.horario span.fechado {
    color: red;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }
}