* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.fundo {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(9, 56, 28) 90%, rgb(3, 65, 29) 100%);
    min-height: 100vh;
}

.header {
    padding: 10px;
    z-index: 999;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background: #ffffff;
}

.header div {
    display: flex;
    padding: 1px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    align-items: end;
}

.header img {
    width: 80px;
    height: 80px;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    border: 0;
}

.header .contato {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(7, 138, 7);
    padding: 15px;
    font-size: 15px;
    float: right;
    transition: 1s all;
}

.header .contato:hover {
    background-color: rgb(7, 138, 7);
    border-radius: 10px;
    color: white;
}

.header ul {
    margin-left: 80%;
}

.header li {
    display: inline-block;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.header .nome-site {
    color: rgb(0, 0, 0);
}