* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin-left: 200px;

        .contato {
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: rgb(255, 255, 255);
            border: 3px solid rgb(7, 138, 7);
            padding: 15px;
            font-size: 15px;
            /* float: right; */
            border-radius: 10px;
            transition: 1s all;
        }

        .contato:hover {
            background-color: rgb(7, 138, 7);
            color: white;
        }
    }
}

.nav-item.dropdown .nav-link.dropdown-toggle {
    font-size: 18px;
}

.efeito {
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.efeito:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 50%;
    background: rgb(7, 138, 7);
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s linear;
}

.efeito:hover:before {
    transform: scaleX(2);
}

.dropdown-divider {
    color: black;
    padding: 0 0 0 160px;
    margin-left: 15px;
}

.header img {
    width: 145px;
    height: 60px;
    object-fit: cover;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.header li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.footer {
    background-color: black;
    padding: -2px;
    width: 100%;
}

.footer .copyright {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: -1px;
    font-size: 15px;
    color: white;
}

.footer .dev {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
    color: white;
}

.btn-back-to-top {
    position: fixed;
    bottom: 7px;
    right: 30px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.btn-back-to-top:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}






/* .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.back-to-top:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
} */