* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin-left: 200px;

        .contato {
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: rgb(255, 255, 255);
            border: 3px solid rgb(7, 138, 7);
            padding: 15px;
            font-size: 15px;
            /* float: right; */
            border-radius: 10px;
            transition: 1s all;
        }

        .contato:hover {
            background-color: rgb(7, 138, 7);
            color: white;
        }
    }
}

.nav-item.dropdown .nav-link.dropdown-toggle {
    font-size: 18px;
}

.efeito {
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.efeito:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 50%;
    background: rgb(7, 138, 7);
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s linear;
}

.efeito:hover:before {
    transform: scaleX(2);
}

.dropdown-divider {
    color: black;
    padding: 0 0 0 160px;
    margin-left: 15px;
}

.header img {
    width: 145px;
    height: 60px;
    object-fit: cover;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.header li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.hr-footer {
    color: black;
    width: 100%;
}

.footer {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
}

#infos-endereco-logo-redes {
    /* margin-top: -15%; */
}

.grid.text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-footer {
        height: 80px;
        width: 200px;
    }

    .info-footer-endereco {
        margin-left: 25%;
        text-align: justify;
        font-family: "Roboto", Arial, sans-serif;
    }

    .redes {
        /* text-align: justify; */

        a {
            color: #000000;
            font-size: 1.5em;
            text-decoration: none;
            margin: 10px;
            padding: 15px;
        }
    }

    a {
        text-decoration: none;
        color: #000000;
    }
}

.fa-solid.fa-phone-volume {
    font-size: 25px;
    padding: 20px 0 0 0;
}

.fa-brands.fa-whatsapp.fa-xs {
    font-size: 30px;
    padding: 20px 0 0 0;
}

.fa-solid.fa-at {
    font-size: 25px;
    padding: 20px 0 0 0;
}

.nome-atendimento {
    list-style: none;
    font-weight: bold;
    text-align: justify;
}

.div-infos-topicos-footer {
    display: flex;
    margin-left: 10%;
    margin-top: -10%;
}

.fone-topicos-footer {
    display: flex;
    margin-left: 10%;
    /* margin-top: -10%; */
}

.infos-topicos-footer {
    font-weight: normal;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.nome-whatsapp {
    list-style: none;
    font-weight: bold;
    text-align: justify;
}

#hora-atendimento {
    font-weight: normal;
}

.produtos-topicos {
    margin-top: 20%;
    margin-left: 10%;
}

.ul-footer {
    list-style: none;
    font-weight: bold;
    text-align: justify;

    li {
        font-size: 17px;
        padding: 10px;
    }
}

.separador-footer {
    color: black;
    width: 350px;
}

.footer .copyright {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    margin-top: 10px;
    /* margin-bottom: -1px; */
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.footer .dev {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
}