* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.top-header {
    z-index: 999;
    position: fixed;
    text-align: center;
    background-color: black;
    height: 30px;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.escrita-top-header {
    color: white;
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: escrita-top-header 15s linear infinite;
}

@keyframes escrita-top-header {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.site-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px 30px;
    z-index: 998;
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin-left: 200px;
        margin-bottom: 0;
    }
}

.nav-item.dropdown .nav-link.dropdown-toggle {
    font-size: 18px;
}

.efeito {
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.efeito:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 50%;
    background: rgb(7, 138, 7);
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s linear;
}

.efeito:hover:before {
    transform: scaleX(2);
}

.dropdown-divider {
    color: black;
    padding: 0 0 0 160px;
    margin-left: 15px;
}

.header img {
    width: 145px;
    height: 60px;
    object-fit: cover;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.header li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

.hr-footer {
    z-index: 999;
    color: black;
    width: 1008%;
}

.footer {
    z-index: 999;
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
    width: 100%;
}

/* #infos-endereco-logo-redes {
    /* margin-top: -15%; 
}*/

.grid.text-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .conteudo-atendimento {
    /* margin-left: -20%; */
/* margin-top: -10%; 
} */

.logo-footer {
    height: 80px;
    width: 200px;
    margin-left: 10%;
}

.info-footer-endereco {
    margin-left: 20%;
    text-align: justify;
    font-family: "Roboto", Arial, sans-serif;
}

.redes {
    /* text-align: justify; */
    /* margin-left: 5%; */

    a {
        color: #000000;
        font-size: 1.5em;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

.fa-solid.fa-phone-volume {
    font-size: 25px;
    padding: 20px 0 0 0;
}

.fa-brands.fa-whatsapp.fa-xs {
    font-size: 30px;
    padding: 20px 0 0 0;
}

.fa-solid.fa-at {
    font-size: 25px;
    padding: 20px 0 0 0;
}

.nome-atendimento {
    list-style: none;
    font-weight: bold;
    text-align: justify;
}

.div-infos-topicos-footer {
    display: flex;
    margin-left: 10%;
    margin-top: -10%;
}

.fone-topicos-footer {
    display: flex;
    margin-left: 10%;
    /* margin-top: -10%; */
}

.infos-topicos-footer {
    font-weight: normal;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.nome-whatsapp {
    list-style: none;
    font-weight: bold;
    text-align: justify;
}

#hora-atendimento {
    font-weight: normal;
}

.img-paulo {
    width: 70%;
}

.produtos-topicos {
    margin-top: 20%;
    margin-left: 5%;
}

.ul-footer {
    list-style: none;
    font-weight: bold;
    text-align: justify;

    li {
        font-size: 17px;
        padding: 10px;
    }
}

.separador-footer {
    color: black;
    width: 300px;
}

.footer .copyright {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    margin-top: 10px;
    /* margin-bottom: -1px; */
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.footer .dev {
    text-align: center;
    font-family: "Rajdhani", Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 0 rgba(37, 211, 102, 0.4);
    animation: pulse-circle 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes pulse-circle {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}




/* Time Line  */