:root {
    --primary-color: #2ecc71;
    --primary-dark: #27ae60;
    --light-gray: #f9f9f9;
    --dark-gray: #333;
    --primary: #198754;
    --primary-dark: #157347;
    --secondary: #212529;
    --light: #f8f9fa;
    --white: #ffffff;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
}

[data-aos] {
    z-index: 0;
    transform: translateY(50px);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding-top: 40px;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #2ecc71;
    margin: 15px auto;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.category-btn {
    padding: 12px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-weight: bold;
    transition: var(--transition);
    background-color: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.category-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
}

.category-btn.active {
    background: #1e914e;
    color: white;
    border-color: #000000;
    transform: translateY(-7px);
}

.category-btn.active:hover {
    background-color: #fff;
    color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

.card-produto {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    width: 260px;
    max-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-produto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border: 1.5px solid #000000;

}

.card-produto:hover img {
    transform: scale(1.05);
}

/* .card-produto {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
    width: 260px;
    max-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out,
        border 0.3s ease-in-out,
        max-height 0.4s ease-in-out,
        padding-bottom 0.3s ease-in-out;
    max-height: 570px;
}

.card-produto:hover {
    transform: translateY(-20px) scale(1.00);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border: 1.5px solid #000000;
    max-height: 620px;
    padding-bottom: 30px;
} */

.pagination button {
    padding: 20px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #1e7e34;
}

.fade-up {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}

.card-produto img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.desconto {
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 12px;
    z-index: 1;
}

.tags {
    margin-bottom: 8px;
}

.tag {
    display: inline-block;
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin: 0 2px;
}

.card-produto h3 {
    font-size: 16px;
    min-height: 40px;
    margin: 10px 0;
}

.avaliacao {
    color: #f1c40f;
    font-size: 14px;
    margin-top: 50px;
    height: 30px;
}

.preco-antigo {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    height: 10px;
    padding-top: 5px;
}

.preco-novo {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.preco-info {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.btn-verde,
.btn-whatsapp,
.btn-carrinho {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.btn-verde {
    background-color: #2ecc71;
    color: white;
}

.btn-whatsapp {
    background-color: #2ecc71;
    color: white;
    transition: all 0.2s ease-in-out;
    border: 2px solid #2ecc71;
}

.btn-whatsapp:hover {
    background-color: #fff;
    color: var(--primary-color);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-carrinho {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.card-produto:hover .btn-carrinho {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* .card-produto:hover .btn-carrinho {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.btn-carrinho {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 0.3s ease;
} */

.btn-carrinho:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#card-novidades:hover {
    border: 1px solid black;
}

.hidden {
    display: none !important;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    .category-buttons {
        gap: 10px;
    }

    .category-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .preco-novo {
        font-size: 19px;
    }
}

@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: center;
    }

    .product-item {
        max-width: 180px;
    }
}