* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
}

[data-aos] {
    z-index: 0;
}


html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

main {
    width: 100%;
    padding-top: 12%;
}

.container.text-center {
    margin-bottom: 80px;
}

.img-loja-antiga {
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.img-loja-antiga:hover {
    transform: scale(1.005);
}


.data-foto-antiga {
    text-align: start;
    font-size: 15px;
}

.text-historia {
    text-align: justify;
    font-size: 17px;
}

#nossa-historia {
    font-family: "Inter", "Roboto", Arial;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.card {
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
}

.localizacao {
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 5%;
}

.section-dois {
    background: rgb(11, 125, 77);
    padding-top: 5%;
    padding-bottom: 5%;

}

.timeline {
    position: relative;
    margin: 2rem auto;
    padding: 2rem 0;
    width: 90%;
    max-width: 600px;
    border-left: 3px solid #ccc;
}

.timeline-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 2rem;
}

.timeline-dot {
    position: absolute;
    top: 0;
    left: -9px;
    width: 18px;
    height: 18px;
    background: #4e73df;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 2px #4e73df;
}

.timeline-content {
    background: #f8f9fc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}